Data/.Rhistory
Figures/Random Forest Importance.pdf
Figures/Random Forest Importance.png
Figures/Random Forest Importance2.png
R scripts/.Rhistory
R scripts/treeAndForest.RData
Text/Assignment 2 report.docx
Text/Confusion Matrix
Text/Confusion Matrix.xlsx
Assignment2 Review/Student1.pdf
Assignment2 Review/Student1_figure.pdf
Assignment2 Review/Student2.pdf
Assignment2 Review/Student2_figure.pdf
Assignment2 Review/Student3.pdf
Assignment2 Review/Student3_figure.pdf
